$color_1: #bcbcbc;
$color_2: rgb(224, 242, 61);
$color_3: #4848d2;
$color_4: #000;
$color_5: #fff;
$background-color_1: #39393b;
$background-color_2: #9092e1;
$background-color_3: #4848d2;
$background-color_4: #bcbcbc;
$border-top-color_1: rgba(0, 0, 0, 0.76);

/*tooltip*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
main {
	width: 90%;
	margin: 20px auto;
}
.cards {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	grid-gap: 10px;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $background-color_1;
}
.card__image-container {
	img {
		float: left;
		margin: 0 5px 5px 0;
		width: 100px;
		height: 100px;
	}
	p {
		color: $color_1;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
}
.card_rating {
	display: flex;
	align-items: center;
	p {
		color: $color_1;
		padding: 2px;
	}
	.star {
		i {
			color: $color_2;
		}
	}
}
.card__content {
	padding: 20px;
}
.card__title {
	margin-bottom: 20px;
}
.card__info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	i {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		height: 34px;
		width: 34px;
		border-radius: 50%;
		background-color: $background-color_2;
	}
}
.buttons {
	height: 70px;
	text-align: center;
	padding: 10px;
	a {
		text-decoration: none;
	}
	button {
		background-color: $background-color_3;
		border: 1px solid #bcbcbc;
		color: $color_1;
		padding: 10px;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			background-color: $background-color_4;
			color: $color_3;
			transform: scale(1.1);
		}
	}
}
.tooltip-toggle {
	text-decoration: none;
	color: $color_4;
	&::before {
		--scale: 0;
		position: absolute;
		content: attr(data-title);
		height: 25px;
		width: max-content;
		transform: translateX(-16%) translateY(-120%) scale(var(--scale));
		transform: 150ms transform;
		transform-origin: bottom center;
		background: rgba(0, 0, 0, 0.76);
		text-align: center;
		color: $color_5;
		padding: 10px;
	}
	&::after {
		--scale: 0;
		position: absolute;
		content: attr(data-title);
		height: 25px;
		width: max-content;
		transform: translateX(-16%) translateY(-120%) scale(var(--scale));
		transform: 150ms transform;
		transform-origin: bottom center;
		content: "";
		border: 10px solid transparent;
		transform: translateX(-222%) translateY(-30%) scale(var(--scale));
		border-top-color: $border-top-color_1;
	}
	&:hover {
		&::before {
			--scale: 1;
		}
		&::after {
			--scale: 1;
		}
	}
}
@media only screen and (max-width: 1000px) {
	.card {
		grid-column-end: span 6;
	}
}
@media only screen and (max-width: 700px) {
	.card {
		grid-column-end: span 12;
	}
}
@media only screen and (max-width: 500px) {
	.cards {
		grid-column: 2 / span 6;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 20px;
	}
	.card {
		grid-column-end: span 6;
	}
}
